#footer{
  padding-bottom: 84px;
  padding-top: 15px;
  ul{
    padding-top: 45px;
  }
  li{
    padding-bottom: 20px;
  }
}
.footer-link {
  font-family: Proxima Nova Bold;
  font-size: 19px;
  color: white;
  text-transform: uppercase;
}
#newsletter-text{
  font-family: Proxima Nova Bold;
  font-size: 19px;
  color: white;
  margin-top: 42px;
}
#newsletter-mail{
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 16px 23px 15px 23px;
  background-color: black;
  color: white;
  margin-right: 23px;
}
#newsletter-mail::placeholder{
  color: white;
  font-family: Proxima Nova Regular;
  font-size: 15px;
}
#btn-newsletter-mail{
  width: 122px;
  height: 51px;
}
#footer-copyright-text
{
  font-family: Arial;
  font-size: 18px;
}
#footer-copyright p{
  margin-top: 27px;
  margin-bottom: 27px;
}
#social-network{
  margin-top: 58px;
  span img{
    margin-right: 40px;
    cursor: pointer;
  }
}
#footer-arrow{
  cursor: pointer;
}