@import "color.scss";

body {
  overflow: hidden;
}

.container {
  margin: 15% 0 0 0;
  h3 {
    margin: 0;
  }
  .delai3ms{
    visibility: hidden;
    animation: 0.3s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai6ms{
    visibility: hidden;
    animation: 0.6s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai9ms{
    visibility: hidden;
    animation: 0.9s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai12ms{
    visibility: hidden;
    animation: 1.2s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai15ms{
    visibility: hidden;
    animation: 1.5s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai18ms{
    visibility: hidden;
    animation: 1.8s fadeIn;
    animation-fill-mode: forwards;
  }
  .delai21ms{
    visibility: hidden;
    animation: 2.1s fadeIn;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}
