@import "fonts.scss";
.close {
  cursor: pointer;
}

#close-sidenav-btn {
  padding: 15px;
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  ul{
    list-style-type: none;
    padding-left: 35px;
    margin-top: 50px;
    li{
      margin-bottom: 25px;
    }
  }
}

#sidenav-menu{
  .btn-icon-ticket{
    margin-left: 35px;
  }
}
#sidenav-content{
  height: fit-content;
}

.sidenav-link{
  font-family: Proxima Nova Bold;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.sidenav-link:hover{
  text-decoration: line-through;
}
.sidenav-link-active{
  text-decoration: line-through;
}
#sidenav-social-network{
  margin-left: 35px;
  margin-top: 96px;
  span{
    cursor: pointer;
    margin-right: 41.6px;
  }
}

#menu{
  margin-top: 60.5px;
}

#close-wrapper{
  margin-left: auto;
}