/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-noir {
  color: #000000; }

.color-gunmetal {
  color: #2A3236; }

.color-eclipse {
  color: #383838; }

.color-storm-grey {
  color: #717276; }

.color-dim-gray {
  color: #707070; }

.color-suva-grey {
  color: #939393; }

.color-lavender-grey {
  color: #C6C6D1; }

.color-solitude {
  color: #EEF0F4; }

.color-whisper {
  color: #EAEAEA; }

.color-white {
  color: white; }

/*----------------------------------------------------------------------//
//                          Couleur de fond                            //
//--------------------------------------------------------------------*/
.background-noir {
  background-color: #000000; }

.background-white {
  background-color: white; }

.background-degrade {
  background: linear-gradient(to right, #000000, #FFFFFF, #000000); }

.background-solitude {
  background-color: #EEF0F4; }

body {
  overflow: hidden; }

.container {
  margin: 15% 0 0 0; }
  .container h3 {
    margin: 0; }
  .container .delai3ms {
    visibility: hidden;
    animation: 0.3s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai6ms {
    visibility: hidden;
    animation: 0.6s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai9ms {
    visibility: hidden;
    animation: 0.9s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai12ms {
    visibility: hidden;
    animation: 1.2s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai15ms {
    visibility: hidden;
    animation: 1.5s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai18ms {
    visibility: hidden;
    animation: 1.8s fadeIn;
    animation-fill-mode: forwards; }
  .container .delai21ms {
    visibility: hidden;
    animation: 2.1s fadeIn;
    animation-fill-mode: forwards; }

@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }
